* {
  margin: 0px;
  background-color: #ebe8f7;
  color: #27127a;
}

h1 {
  align: center;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 10px;
}

h2 {
  margin: 10px 10px 10px 10px;
}


#about-paragraph {
  margin: 7px;
  max-width: 750px;
}

.menu {
  display: inline;
}

table {
  /* border: 5px solid #27127a; */
  border: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid purple;
  padding: 5px 10px 5px 10px;
}

footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #aad2e0;

}
