{% extends "layout.html" %}
{% block content %}
  <h1>Welcome to KnuthSnacks!</h1>
  <table>
    <tr>
      <th>Snack</th>
      <th>Location</th>
      <th>Are We Out?</th>
    </tr>
    <tr>
      <td>Tortilla Chips</td>
      <td>Under microwave</td>
      <td>
        <button>
          <h5>Get More</h5>
        </button>
      </td>
    </tr>
    <tr>
      <td>Muffins</td>
      <td>On Counter</td>
      <td>
        <button>
          <h5>Get More</h5>
        </button>
      </td>
    </tr>
    <tr>
      <td>Orange Juice</td>
      <td>In Fridge</td>
      <td>
        <button>
          <h5>Get More</h5>
        </button>
      </td>
    </tr>
    <tr>
      <td>Aussie Bites</td>
      <td>Under Microwave</td>
      <td>
        <button>
          <h5>Get More</h5>
        </button>
      </td>
    </tr>
  </table>
{% endblock %}  
