{% extends "layout.html"%}
{% block content %}
<h1>See What Others Have Requested</h1>
  <table>
  {% for snack in snacks %}
    <tr>
      <td>{{snack.snackname}}</td>
      <td><button id='bump_{{slugify(snack.snackname)}}' >Bump </button></td>
      <td id='{{slugify(snack.snackname)}}_bumps'>Bumps: {{snack.bumps}}</td>
      <td>
        <form method='POST' action={{url_for('restock',snackname=slugify(snack.snackname))}}>
          {{form.hidden_tag()}}
          {{form.location.label}}
          {{form.location}}
          <input id=button type=submit value=Restock>
        </form>
      </td>
    </tr>

  {% endfor %}
</table>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write(
  '<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')
</script>
<script type=text/javascript>
  {% for snack in snacks %}
  $(function() {
    $('#bump_{{slugify(snack.snackname)}}').click(function() {
      $.getJSON('http://localhost:5000{{url_for('bump', snackname=slugify(snack.snackname))}}',
      function(data) {
        $('#{{slugify(snack.snackname)}}_bumps').text('Bumps: ' + data.bumps);
      });
    });
  });
  {% endfor %}
</script>

{% endblock %}
